:root {
  --color-dark: #000;
  --color-light: #fff;
}

/*
* --------------------------------------------------
* Predictive search (Aside drawer)
* --------------------------------------------------
*/
.predictive-search {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

/*
* --------------------------------------------------
* Product option swatches (used by ProductForm)
* --------------------------------------------------
*/
.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 2.75rem;
  height: 2.75rem;
  margin: 0.25rem 0;
  border-radius: 9999px;
}

.product-option-label-swatch img {
  width: 100%;
  border-radius: 9999px;
}

/*
* --------------------------------------------------
* Announcement bar slide animations
* --------------------------------------------------
*/
@keyframes announcement-slide-left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes announcement-slide-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
